{% extends 'djangoapp/base_template.html' %}

{% block head %}
<title>Dealership Review - Contact Us</title>
{% endblock %}

{% block content %}
<h1 class="card-header">Contact Us</h5>
<div class="card-body">
    <p class="lead">We read and respond to every customer inquiry. We really do want to hear from you!</p>
    <address class="mb-0">
        <ul class="list-group">
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <div style="width: 30px"><b><i class="fas fa-phone-volume"></i></b></div>
                    <div>(888) 888-8888</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <div style="width: 30px"><b><i class="far fa-envelope"></i></b></div>
                    <div>email@company.com</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <div style="width: 30px"><b><i class="far fa-clock"></i></b></div>
                    <div>9am-4pm, Monday-Friday</div>
                </div>
            </li>
            <li class="list-group-item">
                <div class="d-flex flex-row">
                    <div style="width: 30px"><b><i class="fas fa-map-marker-alt"></i></b></div>
                    <div>Address of company</div>
                </div>
            </li>
        </ul>
    </address>
</div>
<div class="mx-5">
    <div class="embed-responsive embed-responsive-21by9">
        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12743537.508178987!2d26.188645651199906!3d38.758767628652194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14b0155c964f2671%3A0x40d9dbd42a625f2a!2zVMO8cmtpeWU!5e0!3m2!1str!2str!4v1618709247021!5m2!1str!2str" loading="lazy"></iframe>
    </div>
</div>
{% endblock %}